table {
  border: 1px solid black;
}

#reports {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#reports td, #reports th {
  border: 1px solid #ddd;
  padding: 8px;
}

#reports tr:nth-child(even){background-color: #f2f2f2;}

#reports tr:hover {background-color: #ddd;}

#reports th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7a0019;
  color: white;
}

#myMap{
  float:right;
  width: 50vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr
}
